html {
    background-color: #666;
}

body {
    color: #2a4560;
}

header,
header a {
    background-color: #2a4560;
    color: #fff;
}

div {
    background-color: #e4ecf4;
    color: #2a4560;
}

footer {
    background-color: #2a4560;
}

footer p {
    color: #fff;
}

ul#features>li a {
    color: red;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

header,
footer,
h1 {
    text-align: center;
}

body,
header,
div,
footer,
fieldset,
ul,
li,
h1,
h2,
p,
img {
    margin: 0;
    padding: 0;
}

img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#features a {
    margin-top: 1em;
    padding: 0.5em;
}

footer {
    padding: 1em;
}
ul>li {
    background-color: rgb(216, 240, 240);
    box-shadow: -5px 6px 8px -3px rgba(30, 50, 40, 0.5);
    border-radius: 10px;
    text-indent: 12px;
    box-shadow: #e4ecf4 ;
}
ul > li > h3{
    text-align: center;
    margin-bottom: 0px;
    text-decoration: underline;
    color: brown;
}
ul > li > p{
text-transform:initial ;
padding: 7px;
font-size: 1.25rem;
text-align: justify;
}